---
    # yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
    name: "Renovate"
  
    on:
      workflow_dispatch:
        inputs:
          dryRun:
            description: Dry Run
            default: "false"
            required: false
          logLevel:
            description: Log Level
            default: debug
            required: false
          version:
            description: Renovate version
            default: latest
            required: false
      schedule:
        - cron: "0 0 */2 * *" # Every 48 hours
      push:
        branches: ["main"]
        paths:
          - .github/renovate.json5
          - .github/renovate/**.json5
  
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
      cancel-in-progress: true
  
    env:
      LOG_LEVEL: "${{ inputs.logLevel || 'debug' }}"
      RENOVATE_AUTODISCOVER: true
      RENOVATE_AUTODISCOVER_FILTER: "${{ github.repository }}"
      RENOVATE_DRY_RUN: "${{ inputs.dryRun == true }}"
      RENOVATE_PLATFORM: github
      RENOVATE_PLATFORM_COMMIT: true
      WORKFLOW_RENOVATE_VERSION: "${{ inputs.version || 'latest' }}"
  
    jobs:
      renovate:
        name: Renovate
        runs-on: ubuntu-latest
        steps:
          - name: Generate a Token
            id: generate-token
            uses: actions/create-github-app-token@v2
            with:
              app-id: "${{ secrets.APP_ID }}"
              private-key: "${{ secrets.APP_PRIVATE_KEY }}"
  
          - name: Checkout code
            uses: actions/checkout@v6
            with:
              submodules: recursive
              token: "${{ steps.generate-token.outputs.token }}"
              fetch-depth: 0
  
          - name: Renovate
            uses: renovatebot/github-action@v46.0.0
            with:
              configurationFile: .github/renovate.json5
              token: "${{ steps.generate-token.outputs.token }}"
              renovate-version: "${{ env.WORKFLOW_RENOVATE_VERSION }}"